@font-face {
    font-family: 'primeregular';
    src: url('font/prime_regular-webfont.eot');
    src: url('font/prime_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/prime_regular-webfont.woff') format('woff'),
         url('font/prime_regular-webfont.ttf') format('truetype'),
         url('font/prime_regular-webfont.svg#primeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body,p,ul {
  margin:0px;
	font-family: 'primeregular';
  
}

.clearfix:after {

    display:block;
    
}

/*----- Menu Outline -----*/
.menu-wrap {
  height: 45px;
  background: #3e3436;
  position: relative;
  margin: 0px auto;
  top: 0px;
  left: 0px;
}
 
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#337ab7;
}
 
.menu .arrow {
    font-size:20px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 36px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu ul li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}



.menu ul li ul li:hover .sub-menu2 {
    z-index:1;
    opacity:1;
}


.sub-menu2 {
   width:160%;
    padding:5px 0px;
    position:absolute;
    top: 180px;
    left: 250px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}


.menu ul li ul li:hover .sub-menu3 {
    z-index:1;
    opacity:1;
}


.sub-menu3{
	width:160%;
    padding:5px 0px;
    position:absolute;
    top: 110px;
	left: 250px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

.menu ul li ul li:hover .sub-menu4 {
    z-index:1;
    opacity:1;
}


.sub-menu4{
	width:160%;
    padding:5px 0px;
    position:absolute;
    top: 140px;
	left: 250px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

@media only screen and (max-width: 800px){

  .clearfix:after {

    display:block;
    clear:both;
}

.menu-wrap {
    background: #3e3436;
      height: auto;
  width: 100%;
}
.menu{

  width: 100%;
}

.menu li {
    margin:0px;
    list-style:none;
    
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#337ab7;
}
 
.menu .arrow {
    font-size:20px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 28px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu ul li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}



.menu ul li ul li:hover .sub-menu2 {
    z-index:1;
    opacity:1;
}


.sub-menu2 {
   width:100%;
    padding:5px 0px;
    position:absolute;
    top: 220px;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}


.menu ul li ul li:hover .sub-menu3 {
    z-index:1;
    opacity:1;
}


.sub-menu3{
  width:100%;
    padding:5px 0px;
    position:absolute;
    top: 140px;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

.menu ul li ul li:hover .sub-menu4 {
    z-index:1;
    opacity:1;
}


.sub-menu4{
  width:100%;
    padding:5px 0px;
    position:absolute;
    top: 180px;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

}



.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
   clear: both; 
  margin: 50px auto;
  
}



.line{
  Background: url("../img/line.png") no-repeat center top;
  margin: 0px auto;
  width: 100%;
}

.banner .line{

    height: auto;
}

.top-right-amazon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #faffaa;
    padding: 10px;
    border-radius: 35px;
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px){
.banner {
  width: 100%;
}
}

@media only screen and (max-width: 768px){
    .top-right-amazon .center {
        font-size: 10px;
        height: 20px;
    }
    .top-right-amazon h2 {
        margin-top: 10px;
        margin-bottom: 0px;
    }


    .top-right-amazon {
        width: 20%;
        padding: 5px;
        border-radius: 20px;
        margin-top: 10px;
        margin-right: 10px;
    }
}


h1{
text-transform:uppercase;
}

.bg{
background:url("../img/newbg2.jpg") center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-width: 100%;
  min-height: 100%;
	top: 0; 
  left: 0; 
  height: auto;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}	

.section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
    height: auto;
  line-height: 20px;
  font-size: 16px;
    margin: 20px;
  
}

.bslide{
margin-top: 50;

}


.section2{

  margin-left: 30px;
  margin-right: 30px;
  width: 1300px;
  height: 384px;
  line-height: 20px;
  font-size: 16px;

}

ïntro{
margin-top:20px;
}

nav{
font-size:20px;
}

.captionBlack
        {
        	font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }



.product {
  background-color: black;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 150px;
  float: left;
  text-align: center;
  height: 250px;
  width: 210px;
}

.accproduct {
  background-color: black;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 75px;
  text-align: center;
  height: 250px;
  width: 210px;
  display: inline-block;
}


div a.product_img:hover {
 opacity: 0.7;
}

.topproductbox{
  display: inline-block;
    width: 100%;
  margin: 0px auto;
  margin-top: 120px;
}

.productbox{
  width: auto;
  margin: 0px auto;
  margin-top: 140px;
  
}


.gridproduct{
  margin-top: 20px;
  display: block;
  margin-left: 120px;
  float: left;
  text-align: center;
}

.producttitle{
  display: inline-block;
  font-size: 50px;
  margin-top: 40px;
}

.mainproductbox{
  width: 400px;
  height: 404px;
  border: 5px solid rgba(96, 94, 94, 1);
  border-radius: 5px;
  margin-top: 20px;
  display: block;
  margin-left: 85px;
  float: left;
}

/*----------------------------------*/
.gallerycontainer{
   position: relative;
  margin-left: 80px;
  float: left;

/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.boxthumbnail img{
  background-size: cover;
  object-fit: cover;
  width: 100px;
  margin-top: 5px;
  height: 130px;
  border: 5px solid rgba(96, 94, 94, 1);
}

.boxthumbnail:hover{
background-color: transparent;
}

.boxthumbnail span{ /*CSS for enlarged image*/
position: absolute;
padding: 5px;
left: -1000px;
visibility: hidden;
color: black;
text-decoration: none;
}

.boxthumbnail span img{ /*CSS for enlarged image*/
  width: 400px;
  height: 0;
}

.boxthumbnail:hover span{ /*CSS for enlarged image*/
  visibility: visible;
  top: -414px;
  left: 0;
  z-index: 50;
}

.boxthumbnail:hover span img{ /*CSS for enlarged image*/
	height: 403px;
}

@media only screen and (max-width: 1010px){
.product {
 margin-top: 105px;
  margin-left: 80px;
}
}

table.hovertable {
  font-family: verdana,arial,sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
  width: 600px;
  height: 200px;
  margin-bottom: 0px;

}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

.productbody{
  margin: 0 auto;
}

.contactdetails{
  display: inline-block;
    float: left;
  margin-left:100px;

}

.resaddress{
  margin-left: 50px;
  display: inline-block;
}
  .faddress{
    display: inline-block;
    margin-left: 110px;
  }
  .cperson{
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  .Emails{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .enquiryform{
    display: inline-block;
    margin-left: 150px;
  }
  .ctcol1{
    vertical-align: top;
    margin-left: 50px;
  }
  .ctcol2{
    vertical-align: top;
    display: inline-block;
    margin-left: 50px;
  }
  .webicon1 {
    display: inline-block;
    vertical-align:middle;
  }
  .webicon2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    position: absolute;
    left: 60px;
    top: 0;
  }
  .webrow {
    position: relative;
    width: 400px;
  }
  .webimg {
    vertical-align:middle;
  }
  .youtube_img {
    position: absolute;
    top: -10px;
    left: -5px;
  }
  .ctcol1 > b {
    font-size: 16px;
  }
  .ctcol2 > b {
    font-size: 16px;
  }
  .compname > b {
    font-size: 20px
  }

  #cForm {
  background: url("../img/textstrip.png") no-repeat;
  padding: 0;
  width: 250px;
  height: 50px;
}

#cform_textarea {
  background: url("../img/textareastrip.png") no-repeat;
  background-size: 250px 100px;
   height: 100px;
  width: 250px;
    background-color: transparent !important;
}

input {

  background-color: transparent !important;
}

form textarea {
  display: block;
  margin: 5px 2px 2px 2px;
  padding: 5px 2px 5px 4px;
  width: 250px;
  color: #000;
  height: 100px;
  background-color: transparent !important;
}

#cform_Button{

  margin-top: 5px;
}

.box1{
max-width:540px; 
display: inline-block;
  float: left;
}

.box2{
 display:inline-block;
 float: left;
 margin: 25px;
  width: 660px;

  }

  .intro{
margin: 20px;

  }

ul#sitemap{
  margin: 0px;
  padding: 0;
  margin-left: 20px;
  list-style-type: none;
  width: 100%;

}

.ContentRight{
  display: inline-block;
}


.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
  {
    background: url("../img/b21.png") no-repeat;
    overflow:hidden;
    cursor: pointer;
  }
  .jssorb21 div { background-position: -5px -5px; }
  .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
  .jssorb21 .av { background-position: -65px -5px; }
  .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }


  .jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
  {
   position: absolute;
   cursor: pointer;
   display: block;
   background: url("../img/a15.png") center center no-repeat;
   overflow: hidden;
 }
 .jssora21l { background-position: -3px -33px; }
 .jssora21r { background-position: -63px -33px; }
 .jssora21l:hover { background-position: -123px -33px; }
 .jssora21r:hover { background-position: -183px -33px; }
 .jssora21ldn { background-position: -243px -33px; }
 .jssora21rdn { background-position: -303px -33px; }

 .bottom{
    background: #3e3436;
    position: relative;
    margin: 0px auto;
    top: 0px;
    left: 0px;
  }

  .links{
     display: inline-block;
    margin-left: 50px;
    color: #919191;
    padding: 5px;
  }


  .links a{

   color:#919191;
   font-weight: bold;
   font-size:15px;
   margin:20px;
  }

.sn{
  position: absolute;
  display: inline-block;
  margin-left: 260px;  
}


@media only screen and (max-width: 1300px){

  .sn{ 
  display: inline-block;
  position: relative;
  margin-left: -42px;
      width: 100%;
      margin: 0px;
}
}


iframe{
  
     display: inline-block;
     margin: 20px;
}

@media only screen and (max-width: 850px) {
iframe{
    display: inline-block;
    margin: 20px;
    width: 100%;
        margin: 0px;
  }
}


.fb{
    display: inline-block;
    background-image: url("../img/sc1.png");
    background-repeat: no-repeat;
    width: 128px;
    height: 180px;

}


.fbs{
   background-size: 100% 100%;
}
a.fb:hover{
    display: inline-block;
    background-image: url("../img/csc1.png") ;
     background-repeat: no-repeat;
    width: 128px;
    height: 180px;
}

.twt{
display: inline-block;
    background-image: url("../img/sc2.png");
    background-repeat: no-repeat;
    width: 88px;
    height: 180px;
}

a.twt:hover{
    display: inline-block;
    background-image: url("../img/csc2.png") ;
    background-repeat: no-repeat;
    width: 88px;
    height: 180px;
}

.ytu{
display: inline-block;
    background-image: url("../img/sc3.png") ;
    background-repeat: no-repeat;
    width: 90px;
    height: 180px;
}

a.ytu:hover{
    display: inline-block;
    background-image: url("../img/csc3.png") ;
    background-repeat: no-repeat;
    width: 90px;
    height: 180px;
}

.gp{
display: inline-block;
    background-image: url("../img/sc4.png") ;
    background-repeat: no-repeat;
    width: 128px;
    height: 180px;
}

a.gp:hover{
    display: inline-block;
    background-image: url("../img/csc4.png") ;
    background-repeat: no-repeat;
    width: 128px;
    height: 180px;
}

.review{
  display: inline-block;
background: url("../img/reviews-icon.png") no-repeat;
background-size: 101px 102px;

width: 115;
height: 116px;
}

a.review:hover{
background: url("../img/reviews-icon.png") no-repeat;
-webkit-transform: rotate(20deg) scale(1.2);
transform: rotate(20deg) scale(1.2);
 
}



@media only screen and (max-width: 450px) {

.fb{
    display: inline-block;
    background-image: url("../img/sc1.png");
    background-repeat: no-repeat;
    width: 25%;
    height: 180px;

}


.fbs{
   background-size: 100% 100%;
}
a.fb:hover{
    display: inline-block;
    background-image: url("../img/csc1.png") ;
     background-repeat: no-repeat;
    width: 25%;
    height: 180px;
}

.twt{
display: inline-block;
    background-image: url("../img/sc2.png");
    background-repeat: no-repeat;
   width: 15%;
    height: 180px;
}

a.twt:hover{
    display: inline-block;
    background-image: url("../img/csc2.png") ;
    background-repeat: no-repeat;
    width: 15%;
    height: 180px;
}

.ytu{
display: inline-block;
    background-image: url("../img/sc3.png") ;
    background-repeat: no-repeat;
    width: 15%;
    height: 180px;
}

a.ytu:hover{
    display: inline-block;
    background-image: url("../img/csc3.png") ;
    background-repeat: no-repeat;
    width: 15%;
    height: 180px;
}

.gp{
display: inline-block;
    background-image: url("../img/sc4.png") ;
    background-repeat: no-repeat;
    width: 25%;
    height: 180px;
}

a.gp:hover{
    display: inline-block;
    background-image: url("../img/csc4.png") ;
    background-repeat: no-repeat;
    width: 25%;
    height: 180px;
}
}