.container {
	width: 1350px;
	margin: 0 auto;
}

/*
	For mobile devices
*/
@media screen and (max-width: 600px) {
  .hide_on_mobile {
    display: none;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
